body {
  background-color: #363636;
  font-family: 'Baloo 2';
}

/* Menu View */

.Menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menuTitle {
  color: #E3E3E3;
  font-size: 64px;
}

.menuSubTitle {
  color: #E3E300;
  font-size: 24px;
}

.buttons {
  width:50%;
  margin:auto;
  font-family:inherit;
  border-radius: 15px;
  font-size: 24px;
}

.gameCodeTextBoxDiv {
  padding-top: 50px;
}

.gameCodeTextBox {
  width:49.5%;
  margin:auto;
  font-family:inherit;
  text-align: center;
  border-radius: 15px;
  font-size: 24px;
  text-transform:uppercase
}

.joinButton {
  background-color: #E95A5A;
}

.createButtonDiv {
  padding-top: 50px;
}

.footerMessage {
  color: #E3E3E3;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
}

/* Lobby View */

.lobbySubTitle {
  color: #E3E300;
  font-size: 24px;
  margin:0
}
.gameCode {
  color: #E3E300;
  font-size: 44px;
  margin:0
}

.QR {
  border-radius: 20px;
  padding:10px;
  background-color: white;
  margin-top: 30px;
}

.readyButton {
  margin-top: 25px;
  font-size: 17px;
  padding:10px
}

/* select and submit */

.gameTitle {
  color: #E3E3E3;
  font-size: 45px;
  text-align: center;
}

.messageBox {
  display: flex;
  flex-direction: row;

  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;

  padding:10px;
  margin:0;
  background-color: #E95A5A;
}

.ideaTextBox{
  border-radius: 20px;
  width: 80%;
  font-family:inherit;
  font-size: 20px;
  text-align: center;
  background-color: #D9D9D9;
}

.submitIdea {
  font-size: 30px;
  border-radius: 50%;
}

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 20px;

  color: #E95A5A;

}

.tile {
  width: 100%;
  background-color: #D9D9D9;
  color:363636;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding:10px;
}

.tileChild {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hasVoted {
  background-color: #E3E300;
}