body {
  background-color: #363636;
  font-family: 'Baloo 2';
}

.Menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menuTitle {
  color: #E3E3E3;
  font-size: 64px;
}

.menuSubTitle {
  color: #E3E300;
  font-size: 24px;
}

.buttons {
  width:50%;
  margin:auto;
  font-family:inherit;
  border-radius: 15px;
  font-size: 24px;
}

.gameCodeTextBoxDiv {
  padding-top: 50px;
}

.gameCodeTextBox {
  width:49.5%;
  margin:auto;
  font-family:inherit;
  text-align: center;
  border-radius: 15px;
  font-size: 24px;
}

.joinButton {
  background-color: #E95A5A;
}

.createButtonDiv {
  padding-top: 50px;
}

.footerMessage {
  color: #E3E3E3;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
}